<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About this Angular App!</h1>
        <p class="lead">This is a web application to keep your To-Do's and Notes at one place, and access them remotely from any device.</p>
        <hr class="my-4">
        <p>It uses Angular and makes use of routing to load all your To-Do's and nagivate throughout the application without reloading the webpage. This is just one of the many reasons why people love this application.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>